*{
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: minmax(100px,1fr) 8fr;
    height: 100vh;
}
#header{
    background-color: rgba(127, 255, 212, 0.37);
    grid-area: 1/1/2/3;
    
}
#content{
    background-color: rgba(219, 55, 219, 0.418);
    overflow: auto;
}
#sidebar{
    background-color: rgba(128, 128, 128, 0.541);
    grid-area: 2/1/3/2;
    
}
table{
    border-collapse: collapse;
    width: max(650px,90%);
    margin: auto;
}
table tr td:nth-child(n+3){
    text-align: center;
}
th:nth-child(-n+2){
    text-align: left;
}
th,td{
    border-bottom: 1px solid;
}

tr:nth-child(even){
    background-color: rgba(65, 65, 65, 0.151);
}
tr:hover{
    /* must come after alternating row background color */
    background-color: yellow;
}